
@mixin font($weight){
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $weight;
} 

body, input, select, textarea, button {
    @include font(400);
    font-size: 18px;
	font-size: 1rem;
	line-height: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1em;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

h1 {
	font-size: 2.556rem; //46px
    @include font(700);
    margin-bottom: 1rem;
}

h2 {
    font-size: 	1.556rem; // 28px
    line-height: 1.2;
    margin-bottom: 3rem;
}

h3 {
	font-size: 1.333em; // 24px
}

p {
    font-size: 1rem; // 18px
    margin: 0;
    line-height: 1.2;
}

.caption{
    font-size: 0.8889rem; // 16px
}

a,
a:visited {
    text-decoration: none;
    color: $color-orange;
}

a:hover {
    transition: all .2s;
    color: darken($color-orange, 10%);
}

a:not([href]) {
	cursor: pointer;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        margin: 0;
    }
}
