$color-white: #fff;
$color-white-alt: #f9f9f9;
$color-gray: #d7d7d7;
$color-gray-alt: #9297A2;
$blueish-gray: #a1a1a2;
$color-dark: #333;
$color-dark-alt: #444;

$color-orange: #E04733;
$color-orange-alt: #FBA438;
$color-purple: #6b4fb9;
$color-purple-alt: #3c257b;

$color-purple-gradient: #654CA7;
$color-purple-gradient-alt: #3D257B;

$color-green: #1aaa55;
