/*

    #. Global styles
    #. Header & Menu Styles
    #. Sections
    #. Footer

*/
////////////////////////////////////////////////
////////////////////////////////////////////////
/*

	Global styles

*/
body{
    background-color: $color-white;
}
/*

	Header & Menu Styles

*/
.navbar{
    flex-direction: row;
    .navbar-brand{
        width: 50%;
    }
    .navbar-collapse{
        width: 50%;
        ul{
            text-align: right;
            padding: .5rem;
            li{
                a{
                    @include font(700);
                    color: $color-purple;
                }
            }
        }
    }
}

/*

	Sections 

*/
section{
    padding: 9rem 1rem;
    &.top-section{
        background-color: $color-purple;
        background-image: url('/dist/img/bg-topsection.jpg');
        background-size: cover;
        background-position: center;
        color: $color-white;
        @include media-breakpoint-up(sm) {
            padding: 13rem 0;
        }
        position: relative;
        .top-section--cta{
            position: absolute;
            bottom: -14rem;
            @include media-breakpoint-up(sm) {
                bottom: -17rem;
            }
            a{
                span{
                    display: block;
                    &:first-of-type{
                        font-size: 1rem;
                        @include media-breakpoint-up(sm) {
                            font-size: 1.222rem;
                        }
                    }
                }
            }
            .caption{
                color: $color-orange;
                margin-top: 1rem;
            }
        }
    }
    &.webcast-headline{
        background-color: $color-white-alt;
        border-top: 1px solid $color-gray;
        border-bottom: 1px solid $color-gray;
        padding: 9rem 1rem 5rem;
        @include media-breakpoint-up(sm) {
            padding: 9rem 1rem 8rem;
        }
        .webcast-headline--content{
            max-width: 47rem;
            h2{
                color: $color-purple;
                font-size: 1.333em;
                @include media-breakpoint-up(sm) {
                    font-size: 1.556rem;
                }
            }
            p{
                color: $blueish-gray;
            }
        }
    }
    &.webcast-info{
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
            margin-bottom: -5rem;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: -13rem;
        }
        h2{
            color: $color-orange-alt;
        }
        .webcats-info--summary{
            padding-right: 4rem;
            margin-bottom: 3rem;
        }
        .webcats-info--inthiswebinar{
            padding-right: 4rem;
            margin-bottom: 3rem;
            ul{
                li{
                    color: $color-gray;
                    border-bottom: 1px solid $color-gray;
                    padding: 1rem 0;
                    &:first-of-type{
                        padding: 0 0 1rem 0;
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 2rem 0;
                        &:first-of-type{
                            padding: 0 0 2rem 0;
                        }
                    }
                    @include media-breakpoint-up(xl) {
                        padding: 1.5rem 0;
                        &:first-of-type{
                            padding: 0 0 1.5rem 0;
                        }
                    }
                }
            }
        }
        .webcats-info--presenter{
            position: relative;
            top: 0;
            @include media-breakpoint-up(lg) {
                position: absolute;
                z-index: 1;
                top: 13rem;
                right: 0;
            }
            @include media-breakpoint-up(xl) {
                position: relative;
                top: -13rem;
            }
        }
    }
    &.webcast-form{
        background-color: $color-purple;
        color: $color-white;
        background-image: url('/dist/img/bg-form.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        .webcast-form--title{
            position: relative;
            p{
                position: absolute;
                bottom: 2rem;
            }
        }
        .form--message{
            position: absolute;
            width: 100%;
            bottom: -5rem;
            right: 0;
        }
    }
    &.callout{
        background-color: $color-white-alt;
        h1{
            @include font(300);
        }
    }
}

/*

	Footer

*/
footer{
    background-color: $color-purple;
    color: $color-white;
    padding: 3rem 1rem;
    .footer--copy{
        padding: .5rem 0;
    }
}