.box{
    background-color: $color-white;
    border: 1px solid $color-gray;
    padding: 0;
    border-radius: 3px;
    p{
        color: $blueish-gray;
    }
    .box--title{
        background-color: $color-purple;
        padding: 1rem 0;
        h2{
            color: $color-white;
            margin: 0;
        }
    }
    .box--content{
        padding: 2rem 3rem 3rem;
        .box--photo{
            border: 3px $color-purple solid;
            border-radius: 50%;
            width: 124px;
            height: 124px;
            overflow: hidden;
            margin: 0 auto 1rem auto;
        }
        .box--name{
            p{
                color: $color-purple;
                @include font(700);
            }
            margin-bottom: 1rem;
        }
        .box--link{
            margin: 1rem auto;
            height: 2rem;
            width: 4.4rem;
            ul{ 
                li{
                    float: left;
                    &:first-of-type{
                        margin-right: .5rem;
                    }
                    a{
                        i{
                            &:before{
                                font-size: 2rem;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}