.btn{
    &.btn-red {
    color: $color-white;
    background-color: $color-orange;
    border-color: $color-orange;
    transition: all .2s;
    font-weight: 600;
        &:hover {
        color: $color-white;
        background-color: darken($color-orange, 10%);
        border-color: darken($color-orange, 10%);
        }
    }
    &.btn-large{
        padding: 1.5rem 1rem;
        @include media-breakpoint-up(sm) {
            padding: 1.5rem 2rem;
        }
    }
}
  