label{
    @include font(700);
    color: $blueish-gray;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0;
    span{
        color: $color-orange;
    }
    &.form-check-label{
        text-transform: none;
        color: $color-white;
        @include font(300);
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        top: .5rem;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: auto;
            &:checked ~ .checkmark {
                background-color: transparent;
                border: 1px solid $color-white;
            }
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 1rem;
            width: 1rem;
            background-color: transparent;
            border: 1px solid $color-white;
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 5px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid $color-white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        &:hover input ~ .checkmark {
            background-color: transparent;
            border: 1px solid $color-white;
        }
        
    }
}
input, select, textarea{
    width: 100%;
    border: none;
    transition: all .2s;
    &.invalid{
        border: 1px solid $color-orange;
        transition: all .2s;
    }
}

button{
    width: 100%;
    cursor: pointer;
}
.form--message{
    padding: 1rem;
    border-radius: .3rem;
    &.form--message-error{
        background-color: $color-orange;
        color: $color-white;
        display: none;
    }
    &.form--message-ok{
        background-color: $color-green;
        color: $color-white;
        display: none;
    }
}
